<h1>Hello {{name2}} You Have Angular 2 Up and Running. Time to have fun developing!</h1>

<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>


<div *ngIf="users">

  <div *ngFor="let user of users">

    <div class="col-md-9">
<h4>{{user.id}}</h4>
    <iframe width="260" src="https://www.youtube.com/embed/QS3J36XNYYo?ecver=1" frameborder="0" allowfullscreen></iframe>

        <iframe width="260" src="https://www.youtube.com/embed/QS3J36XNYYo?ecver=1" frameborder="0" allowfullscreen></iframe>
          <iframe width="260" src="https://www.youtube.com/embed/QS3J36XNYYo?ecver=1" frameborder="0" allowfullscreen></iframe>
            <iframe width="260" src="https://www.youtube.com/embed/QS3J36XNYYo?ecver=1" frameborder="0" allowfullscreen></iframe>
              <iframe width="260" src="https://www.youtube.com/embed/QS3J36XNYYo?ecver=1" frameborder="0" allowfullscreen></iframe>
                <iframe width="260" src="https://www.youtube.com/embed/QS3J36XNYYo?ecver=1" frameborder="0" allowfullscreen></iframe>
                  <iframe width="260" src="https://www.youtube.com/embed/QS3J36XNYYo?ecver=1" frameborder="0" allowfullscreen></iframe>

    </div>
  </div>
</div>
