<h1>Hello {{name2}} You Have Angular 2 Up and Running. Time to have fun developing!</h1>

<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>


<div *ngIf="users">

  <div *ngFor="let user of users">

    <div class="col-lg-3">
      <h4>{{user.snippet.title}}</h4>
      <h4>{{user.snippet.description}}</h4>
      <a href="#" data-toggle="modal" data-target="#myModal"><img src="{{user.snippet.thumbnails.default.url}}" alt="Mountain View" style="width:304px;height:228px;"></a>


      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

      <!-- Modal content-->
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Modal Header</h4>
  </div>
  <div class="modal-body">
    <p>Some text in the modal.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/9hDKfBKuXjI" frameborder="0" allowfullscreen></iframe>
 SHOW MORE

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div>

</div>
</div>


    </div>
  </div>
</div>
